.formulario-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 3rem auto;
  }
  
  .formulario-container h2 {
    font-family:'Times New Roman', Times, serif;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contacto-form label {
    display: block;
    margin-top: 1rem;
    color: #444;
    font-weight: 600;
  }
  
  .contacto-form input,
  .contacto-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.3rem;
    border: 2px solid #c8c5c4;
    border-radius: 12px;
    font-size: 1rem;
    resize: vertical;
  }
  
  .contacto-form input:focus,
  .contacto-form textarea:focus {
    border-color: #484646;
    outline: none;
  }
  
.contacto-form button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    background-color:  #5f5d5d;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contacto-form button:hover {
    background-color: #de0e0e;
  }

  @media (max-width: 600px) {
    .formulario-container {
      padding: 1rem;
      margin: 2rem 1rem;
    }
  
    .formulario-container h2 {
      font-size: 1.5rem;
    }
  
    .contacto-form input,
    .contacto-form textarea,
    .contacto-form button {
      font-size: 0.95rem;
    }
  
    .logo-central h1 {
      font-size: 1.2rem;
    }
  
    .logo-central p {
      font-size: 1rem;
    }
  
    .carrito {
      font-size: 1.5rem;
    }
  
    footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }
  
    footer .categoria,
    footer .redes,
    footer .contacto {
      margin: 0.5rem 0;
    }
  }
  

 


